  /* Footer */
  .footer__wrap {
      padding: 20px;
      text-align: center;
      background: #ddd;
      margin-top: 20px;
  }

  .footer__wrap a {
      display: inline-block;
      margin: 0 20px 10px 20px;
      color: #808080;
      font-size: 11px;
  }

  .footer__wrap a:visited {
      color: #808080;
  }

  .footer__wrap p {
      margin-top: 0;
      margin-bottom: 0;
  }

  .footer__wrap p span {
      display: inline-block;
      margin-left: 20px;
  }